@charset "utf-8";
/* CSS Document */


/*大结构布局*/

.main-wrap{margin:0 auto;text-align:left;}
.col-main {float:left; width:100%;  min-height:1px;}
.col-sub, .col-extra {float:left;}
.layout:after, .main-wrap:after, .col-sub:after, .col-extra:after {content:'\20'; display:block; height:0; clear:both;visibility: hidden;}
.layout, .main-wrap, .col-sub, .col-extra {*zoom:1;}

/*浮动*/

.left_part{float:left;}
.right_part{float:right;}

/*小区块布局*/

.fl{float:left;}
.fr{float:right;}

.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }

/*字体*/

.f12{font-size:12px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.f20{font-size:20px;}
.f24{font-size:24px;}

.fs{font-family:'宋体';}
.fw{font-family:'微软雅黑';}
.fa{font-family:Arial, Helvetica, sans-serif;}

/*内容布局*/

.tc{text-align:center;}
.tr{text-align:right;}
.tl{text-align:left;}

/*显示与溢出处理*/

.dn{display:none;}
.db{display:block;}
.dib{-moz-inline-stack:inline-block; display:inline-block;}
.di{display:inline;}
.ovh{overflow:hidden;}
.ovs{overflow:scroll;}
.vh{visibility:hidden;}
.vv{visibility:visible;}