@charset"utf-8";
 
/* CSS Document */
 body {
    font: 14px"Microsoft YaHei";
    text-align: center;
}
article {
    margin: 0 auto;
    padding: 0;
}
a {
    text-decoration:none;
}

/*effect*/

 .radius {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
}

/*头部*/

#header {
    padding: 10px 50px 10px 10px;
    text-align: left;
/*    background:-webkit-linear-gradient(top,#00CCE4,#1A80C5,#3333C6 );
*/
    background:#10a0ea;
     -webkit-box-shadow:0 2px 5px 0px #CCC;
    -moz-box-shadow:0 2px 5px 0px #CCC;
    -o-box-shadow:0 2px 5px 0px #CCC;
    box-shadow:0 2px 5px 0px #CCC;
}
.main_title {
    padding: 10px;
    font-size:34px;
    color:#FFF;
}
.slogan {
    color: #FFF;
    margin-top: 20px;
}

form {
    background: #069;
    text-align: left;
    transition: 2s;
    margin-bottom: 10px;
    padding: 20px;
}
fieldset {
    margin: 0;
    padding: 0;
}
label {
    padding: 8px;
    display: inline-block;
    line-height: 20px;
    height: 20px;
    color: #CC3;
    margin: 0;
}
input {
    outline: none;
    border: 1px solid #999;
    padding: 3px 0;
    border-radius: 5px;
    height: 20px;
}
input:focus {
    box-shadow: inset 0 0 4px #00FF99;
    background: #CF9;
}
legend {
    color: #FFF;
    text-shadow: 0 0 3px #999999;
    margin: 0;
    padding: 0;
}

/*主内容区*/

.col-main .mainarea{
    margin-left: 250px;
    min-height: 600px;
}
.col-sub{
    margin-left: -100%;	
    width: 230px;
    height: 100%;
}

.content .sidebar {
    /*background: #3C9;*/
    padding-bottom: 20px;
}
.sidebar ul {
    /*background:#F60;*/
    width:80%;
    margin:20px auto 0 auto;
    padding:5px 0;
}
.sidebar li {
    text-align:center;
    width:100%;
    padding:10px 0;
}
/*.sidebar li:first-child {
    border-top:none;
}*/
.sidebar li:hover,
 .sidebar li.cur{
    background:#F5F5F5;
    border-left:1px solid #0e90d2;
    -webkit-transition:.3s;
    -moz-transition:.3s;
    -o-transition:.3s;
    -ms-transition:.3s;
    transition:.3s;
}
.sidebar li:hover a ,
 .sidebar li.cur a{
    color:#0e90d2;
    text-decoration:none;
}
.sidebar li a {
    color:#000;
}
.content .mainarea {
    float: left;
    width: 900px;
/*    background: #EEE;
*/    text-align:left;
    border-left: 1px solid #EEE;
    padding:20px 30px 10px 30px;
    display:none;
}
.mainarea h2 {
    font-size:16px;
    padding-bottom:10px;
    border-bottom:1px solid #3CF;
}
.mainarea h3 {
    margin-bottom:10px;
    padding-left: 15px;
    border-left: 1px solid #10a0ea;
}
.mainarea ul li {
    margin-bottom:10px;
}
.mainarea ul li a {
    display:inline-block;
    width:100px;
}
.mainarea ul li a sup {
    color:#F00;
    font-size:12px;
}
.mainarea ul li a:hover {
    text-decoration: none;
}
.mainarea ul li span {
    padding-left:30px;
}
.mainarea .mod {
    padding-top:30px;
    border-top: 1px solid #DDD;
}
.mainarea .mod:first-child{
    border: none;
    padding-top: 0;
}
/*sitemap*/

 article.blog ul li a:hover {
    text-decoration:underline;
}
.blog ul {
    overflow:hidden;
    padding:5px;
}
.blog ul li {
    float:left;
    width:auto;
    padding:3px 5px;
    border:1px solid #0e90d2;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -o-border-radius:4px;
    border-radius:4px;
    text-align:center;
    margin:0 5px 10px 5px;
}
.blog ul li:hover {
    -webkit-transition:.2s;
    -moz-transition:.2s;
    -o-transition:.2s;
    transition:.2s;
    -webkit-box-shadow:0 0 4px 0px #0e90d2;
    -moz-box-shadow:0 0 4px 0px #0e90d2;
    -o-box-shadow:0 0 4px 0px #0e90d2;
    box-shadow:0 0 4px 0px #0e90d2;
}
.blog ul li:hover a:hover {
    text-decoration: none;
}
.blog ul li a {
    color:#000;
    width: auto;
}

.footer {
    background: #4C4747;
    color: #FFF;
    margin-top: 20px;
}
.footer .footer_nav {
    width: 60%;
    margin:0 auto;
}
.footer_nav ul {
    overflow: hidden;
}
.footer_nav ul li {
    float: left;
    width: 30%;
    list-style: none;
    height: 40px;
    line-height: 40px;
}
.footer_nav ul li a {
    display: block;
    text-decoration: none;
    color: #CCC;
    -webkit-transition:.3s;
    -moz-transition:.3s;
    -o-transition:.3s;
    -ms-transition:.3s;
    transition:.3s;
}
.footer_nav ul li a:hover {
    color: #FFF;
    text-decoration: none;
}

/*作者*/

.author{
    font-style: normal;
}
.author time {
    padding: 0 5px;
    font-size: 12px;
    font-style: italic;
}
/*@-webkit-keyframes left { 0% {
 -webkit-transform:rotateZ(30deg);
 -webkit-transform: scale3d(1, 1, 1);
 transform: scale3d(1, 1, 1);
}
 50% {
 -webkit-transform: scale3d(1.05, 1.05, 1.05);
 transform: scale3d(1.05, 1.05, 1.05);
}
 100% {
 -webkit-transform:rotateZ(0deg);
 -webkit-transform: scale3d(1, 1, 1);
 transform: scale3d(1, 1, 1);
}
}
@-webkit-keyframes left_right { 0%, 50% {
 left:200px;
}
 25%, 75% {
 left:220px;
}
 100% {
 left:200px;
}
}
*/
 @media screen (min-width:800px) and (max-width:1000px) {
    article {
        width:100%;
    }
    .content {
        padding:0 2%;
    }
    .mainarea {
        width:79%;
        padding:3%;
    }
}
@media screen and (max-width:800px) {
    #header {
        overflow:hidden;
        padding:2%;
        margin:0;
    }
    #header hgroup {
        float:left;
    }
    #header cite {
        float:right;
        padding-top:8%;
    }
    article {
        width:100%;
    }
    .content {
        width:100%;
        -webkit-flex-flow: column;
    }
    .content .sidebar {
        width:100%;
        height:auto;
        background:none;
    }
    .radius {
        -webkit-border-radius:0;
    }
    .content .sidebar ul {
        overflow:hidden;
        margin:0;
        width:auto;
    }
    .content .sidebar ul li {
        float:left;
        width:18%;
        border-top:none;
        border-bottom:1px solid #CCC;
        margin:0 1%;
    }
    .content .mainarea {
        width:96%;
        padding:2%;
    }
    .mainarea ul li {
        border-bottom:1px solid #999;
        padding:10px 0;
        margin:0;
    }
    .mainarea ul li span {
        display:inline-block;
        width:60%;
    }
}