@media screen and (max-width: 800px) {
    body {
      font-family: "Microsoft YaHei","Helvetica Neue", Helvetica, STHeiTi, Arial,sans-serif;
    }
    a {
      -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    }
    /*头部*/
    #header {
      padding-right: 0;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 10;
    }
    .main_title {
      padding: 5px 0 0 0;
      font-size: 14px;
      width: 100%;
      i {
        width: 30px;
        height: 30px;
      }
      .red {
        background-size: 30px;
        left: 20px;
        top: -10px;
      }
      .blue {
        background-size: 30px;
        left: 5px;
        top: 0;
      }
      .green {
        background-size: 30px;
        left: 35px;
        top: 0;
      }
      .title-txt {
        margin-left: 70px;
        h1 {
          margin-bottom: 0;
        }
      }
    }
    .slogan {
      display: none;
    }
    .tips {
      color: #ea9242;
      padding: 8px 0;
      font-size: 12px;
      text-align: center;
      position: fixed;
      display: block;
      top: 53px;
      width: 100%;
      background: #f5ebde;
    }
    /*导航*/
    .content .sidebar {
      float: none;
      position: fixed;
      z-index: 10;
      width: 100%;
      margin-left: 0;
      top: 53px;
      bottom: auto;
      left: 0;
      height: auto;
      padding-bottom: 0;
      background: #FFF;
    }
    .sidebar .sidebar_list {
      width: 100%;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      overflow: hidden;
      border-radius: 0;
      padding: 1rem;
      box-shadow: 0 2px 2px 0 #CCC;
      &.over {
        display: none;
      }
    }
    .sidebar_list li {
      float: left;
      width: auto;
      padding: 8px 10px;
      margin: 2px;
      font-size: 12px;
      border: 1px solid #DDD;
      border-radius: 2px;
      &.cur {
        border-left-width: 1px;
        border-color: #0e90d2;
        background: transparent;
      }
      &.side-about {
        margin: 2px;
        padding: 8px 10px;
        a {
          line-height: 1;
        }
      }
    }
    /*关于*/
    .about {
      .sidebar {
        display: none;
      }
      .main-wrap {
        padding-top: 84px;
        line-height: 1.5;
      }
      .content .mainarea {
        padding: 0 1.5rem;
      }
      .item .mod.part-in {
        padding-bottom: 1rem;
        a {
          margin-top: .5rem;
        }
      }
    }
    /*主内容*/
    .col-main {
      width: auto;
    }
    .main-wrap {
      padding-top: 226px;
    }
    .col-main {
      float: none;
    }
    .content .mainarea {
      width: auto;
      font-size: 12px;
      li a {
        padding: 1rem;
      }
      float: none;
      margin-left: 0;
      padding: 5px;
    }
    .col-main .mainarea.over {
      float: none;
      margin-left: 0;
      padding: 5px;
    }
    .item {
      -webkit-animation: paused;
      animation: paused;
      ul {
        margin: 10px 0;
        li {
          margin: 0 5px 5px 5px;
          border-color: #accdde;
        }
      }
      .mod {
        padding-top: 10px;
      }
    }
    .mainarea .mod .sub_mod {
      padding-left: 10px;
      margin-top: 5px;
    }
    .book .off:after {
      left: 100%;
      width: 40px;
      bottom: 0px;
      font-size: 12px;
    }
    /*底部*/
    .footer {
      margin-top: 0px;
      padding: 0;
      .footer_nav {
        width: 100%;
        font-size: 12px;
        li {
          float: none;
          padding: 1rem 1.5rem;
          width: auto;
        }
      }
      .contact {
        display: none;
      }
    }
  }